{% load i18n zinnia %}
<article id="entry-{{ object.pk }}" class="hentry{% if object.featured %} featured{% endif %}" itemscope itemtype="http://schema.org/Article">
  {% block entry-header %}
  <div class="single-post-title entry-header">
    {% block entry-title %}
    <h3 class="entry-title" itemprop="name">
      <a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark" itemprop="url">
        {{ object.title|widont }}
      </a>
    </h3>
       <strong><hr/></strong>
    {% endblock entry-title %}
    {% block entry-info %}
    <div class="single-post-info">

      {% block entry-published %}
          <i class="glyphicon glyphicon-time"></i>
      <time class="published" datetime="{{ object.publication_date|date:"c" }}" itemprop="datePublished">{{ object.publication_date|date:"DATE_FORMAT" }}</time>
      {% endblock entry-published %}
      {% block entry-categories %}
      {% with categories=object.categories.all %}
      {% if categories|length %}
      {% trans "in" %}
      {% for category in categories %}
      <a href="{{ category.get_absolute_url }}"
         title="{% blocktrans %}Show all entries in {{ category }}{% endblocktrans %}"
         rel="tag category" itemprop="articleSection">{{ category }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}.
      {% endwith %}
      {% endblock entry-categories %}
    </div>
    {% endblock entry-info %}
  </div>
  {% endblock entry-header %}

  {% block entry-body %}
  <div class="entry-body">
    {% block entry-word-count %}
    <meta itemprop="wordCount" content="{{ object.word_count }}" />
    {% endblock entry-word-count %}

    {% block entry-image %}
    {% if object.image %}
    <div class="single-post-image">
      {% if continue_reading %}
      <a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">
        {% endif %}
        <figure itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
          <img src="{{ object.image.url }}" alt="{{ object.image_caption|default:object.title }}" itemprop="contentUrl" />
          {% if object.image_caption %}
          <figcaption itemprop="caption">{{ object.image_caption }}</figcaption>
          {% endif %}
        </figure>
        {% if continue_reading %}
      </a>
      {% endif %}
    </div>
    {% endif %}
    {% endblock entry-image %}

    {% block entry-lead %}
    {% if not continue_reading and object.lead %}
    <div class="single-post-content" itemprop="headline">
      {{ object.html_lead|safe }}
    </div>
    {% endif %}
    {% endblock entry-lead %}

    {% block entry-content %}
    <div class="single-post-content" itemprop="articleBody">
      {{ object_content|safe }}
    </div>
    {% endblock entry-content %}

    {% block continue-reading %}
    {% if continue_reading and object_content.has_more %}
    <p class="continue-reading">
      <a href="{{ object.get_absolute_url }}"
         title="{% blocktrans with object=object.title percent=object_content.remaining_percent|floatformat:0 %}{{ percent }}% of {{ object }} still remains to read.{% endblocktrans %}"
         rel="bookmark" itemprop="url">
        {% trans "Continue reading" %}
      </a>
    </p>
    {% endif %}
    {% endblock continue-reading %}
  </div>
  {% endblock entry-body %}

  {% block entry-footer %}
  <footer class="entry-footer">
    {% block entry-tags %}
    <p class="entry-tags">
      <strong>{% trans "Tags" %}</strong> :
      <meta itemprop="keywords" content="{{ object.tags }}" />
      {% for tag in object.tags_list %}
      <a href="{% url 'zinnia:tag_detail' tag %}"
         title="{% blocktrans %}Show all entries tagged by {{ tag }}{% endblocktrans %}"
         rel="tag" itemprop="articleSection">{{ tag }}</a>
      {% empty %}
      <span>{% trans "No tags" %}</span>
      {% endfor %}
    </p>
    {% endblock entry-tags %}
    {% block entry-discussions %}
    <p class="entry-discussions single-post-content">
      <strong>{% trans "Discussions" %}</strong> :
      {% block entry-comments %}
      <meta itemprop="discussionUrl" content="{{ object.get_absolute_url }}#disqus_thread" />
      <a href="{{ object.get_absolute_url }}#disqus_thread"
         title="{% blocktrans with object=object.title %}Comments on {{ object }}{% endblocktrans %}">
      Links
      </a>
      {% endblock entry-comments %}
    </p>
    {% endblock entry-discussions %}
  </footer>
  {% endblock entry-footer %}
</article>
