{% extends "base.html" %}
{% block content %}
        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1>Contact Us</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
	        	<div class="row">
	        		<div class="col-sm-5" style="float: none;margin-left: auto;margin-right: auto">
	        			<!-- Contact Form -->
	        			<h3>Send Us a Message</h3>
	        			<div class="contact-form-wrapper">
		        			<form class="form-horizontal" role="form" action="{% url 'contact' %}" method="post">
                            {% csrf_token %}
		        				 <div class="form-group">
		        				 	<label for="Name" class="col-sm-3 control-label"><b>Your name</b></label>
		        				 	<div class="col-sm-9">
										<input class="form-control" id="Name" name="name" type="text" placeholder=""
                                               value="{% if user.is_authenticated %}{{ user.first_name }} {{ user.last_name }}{% endif %}"
                                               required>
									</div>
								</div>
								<div class="form-group">
									<label for="contact-email" class="col-sm-3 control-label"><b>Your Email</b></label>
									<div class="col-sm-9">
										<input class="form-control" id="contact-email" name="email" type="text"
                                               value="{% if user.is_authenticated %}
                                               {{ user.email.strip|safe }}
                                               {% endif %} "
                                               placeholder="" required>
									</div>
								</div>
								<div class="form-group">
									<label for="contact-message" class="col-sm-3 control-label"><b>Select Topic</b></label>
									<div class="col-sm-9">
										<select class="form-control" id="topic" name="topic" required>
											<option>Please select topic...</option>
											<option>General Enquiry</option>
											<option>Services - ITR Filing</option>
											<option>Services - Company Incorporation</option>
                                            <option>Other queries</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="contact-message" class="col-sm-3 control-label"><b>Message</b></label>
									<div class="col-sm-9">
										<textarea class="form-control" rows="5" id="contact-message" name="message"></textarea>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<button type="submit" class="btn pull-right">Send</button>
									</div>
								</div>
		        			</form>
		        		</div>
		        		<!-- End Contact Info -->
	        		</div>
	        	</div>
	    	</div>
	    </div>

	    {% endblock %}