{% extends "base.html" %}

{% block title %}Mudra Mantri {% endblock %}
{% load staticfiles %}

{% block content %}
    <div class="container-fluid" style="max-width:80%;border:solid;">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav" style="
                                                    ">
                                        <li>
                                            <a role="button" class="btn btn-default navbar-btn btn-large-text" href="{% url 'process' %}" style="
                                                        margin-right: 12px;color:#1A834B;
                                                        font-size: 1.2em;
                                                    ">Instructions <span class="fa fa-question-circle fa-1x" aria-hidden="true"></span></a>
                                        </li>
                                        <li>
                                            <a role="button" class="btn btn-default navbar-btn btn-large-text" href="{% url 'companydashboard' %}" style="
                                                        margin-right: 12px;color:#1A834B;
                                                        font-size: 1.2em;
                                                    ">Calculator <span class="fa fa-calculator fa-1x" aria-hidden="true"></span></a>
                                        </li>
                                        <li>
                                            <a role="button" class="btn btn-default navbar-btn btn-large-text" href="{% url 'companydocs' %}" style="
                                                        margin-right: 12px;color:#1A834B;
                                                        font-size: 1.2em;
                                                    ">Documents(Phase-1) <span class="fa fa-file-pdf-o fa-1x" aria-hidden="true"></span><span class="sr-only">(current)</span></a>
                                        </li>
                                        <li>
                                            <a role="button" class="btn btn-default navbar-btn btn-large-text" href="{% url 'companycheckout' %}" style="color:#1A834B;margin-right:12px;font-size: 1.2em;">Payment<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
                                        </li>
                                        <li>
                                            <a role="button" class="btn btn-default navbar-btn btn-large-text" href="{% url 'companyprogress' %}" style="
                                                        margin-right: 12px;color:#1A834B;
                                                        font-size: 1.2em;
                                                    ">Progress meter <span class="fa fa-server fa-1x" aria-hidden="true"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12" style="padding-top: 2%;">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h3>
                                                <strong class="">Benefits</strong>
                                            </h3>
                                        </div>
                                        <div class="panel-body" style="padding-bottom: 2%; font-size:1.2em;">
                                            <ul>
                                                <li>EMI facility</li>
                                                <li>Incorporation also includes TAN & PAN</li>
                                                <li>Transparency in pricing</li>
                                                <li>1 year compliance guidance</li>
                                                <li>Team of experts to guide you in every step</li>
                                                <li>256 Bit strong encryption</li>
                                                <li>Alladin DSC for 2 years</li>
                                                <li>Safe and Secure Document Vault</li>
                                                <li>Document Pick up facility</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 " style="padding-top: 2%;padding-bottom: 3%">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h3>
                                                <strong class="">Do's and Don'ts</strong>
                                            </h3>
                                        </div>
                                        <div class="panel-body" style="padding-bottom: 2%; font-size:1.2em;">
                                            <ul>
                                                <li>Make sure docs are properly scanned</li>
                                                <li>Get the Affidavit attested from nearest Notary public</li>
                                                <li>Buy 8, 100 Rs stamp papers</li>
                                                <li>Minimum 2 Shareholders, Minimum 2 Directors</li>
                                                <li>At least 1 of the Directors shall be an Indian Resident</li>
                                                <li>The directors and shareholders can be same person</li>
                                                <li>Minimum Share Capital shall be 100,000(INR One Lac)</li>
                                                <li>DIN (Director Identification Number) for all the Directors</li>
                                                <li>DSC (Digital Signature Certificate) for all the Directors</li>
                                                <li>Please ensure that the address proof is not older than 40 days (In case of Telephone bill, Bank statement, Light bill & Mobile bill)</li>
                                                </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

    {% block contentTable %}
        <div class="col-md-6 " style="padding-top: 1%;">
							<div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3><strong>Instructions and Process</strong></h3>
                                    </div>
                                    <div class="panel-body" style="padding-bottom: 1%;" id="pBody">
                                        <ol type="1">
                                            <li>The entire process is completed in two phases.</li>
                                            <li>We take payment in phases too, so that you pay exactly what we work for.</li>
                                            <li>In Phase 1, you have submit documents to get DIN and DSC approval.</li>
                                            <li>Make payment for phase 1. It takes 1-2 days for DIN & DSC approval</li>
                                            <li>Meanwhile, get affidavit done from Notary.</li>
                                            <li>In phase 2, we ask for documents needed for Name approval, MOA & AOA.</li>
                                            <li>Make payment for phase 2. We get you the certificate of Inc.</li>
                                            <li>If you need clarification any time during the process, call our 24X7 helpline or talk to our representative on live chat</li>
                                            <li>Additionally, for any further clarification or escalaltion, contact our CEO directly at ceo@bizkeeda.com</li>
                                        </ol>
                                    </div>
                                </div>
                                </div>
                                <div class="col-md-6 " style="padding-top: 2%;">
                                    <p class="bg-primary center" id="nextStep" style="padding: 15px;align-content: center;font-weight: 600;font-size: 14px; display:none;">Next Step, Pay the fee caculated earlier and you're done. We will take care of the rest.' </p>
                                </div>
    {% endblock %}
    </div>
{% endblock %}s