{% extends "base.html" %}

{% block title %}Mudra Mantri {% endblock %}
{% load staticfiles %}

{% block content %}
    <div class="container-fluid" style="max-width:80%;border:solid;">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav" style="
                                                    ">
                                        <li>
                                            <a role="button" class="btn btn-default navbar-btn btn-large-text" href="{% url 'process2' %}" style="
                                                        margin-right: 12px;color:#1A834B;
                                                        font-size: 1.2em;
                                                    ">Instructions <span class="fa fa-question-circle fa-1x" aria-hidden="true"></span></a>
                                        </li>
                                        <li>
                                            <a role="button" class="btn btn-default navbar-btn btn-large-text" href="{% url 'companydashboard2' %}" style="
                                                        margin-right: 12px;color:#1A834B;
                                                        font-size: 1.2em;
                                                    ">Calculator <span class="fa fa-calculator fa-1x" aria-hidden="true"></span></a>
                                        </li>

                                        <li>
                                            <a role="button" class="btn btn-default navbar-btn btn-large-text" href="{% url 'companydocs2' %}" style="
                                                        margin-right: 12px;color:#1A834B;
                                                        font-size: 1.2em;
                                                    ">Documents (Phase-2) <span class="fa fa-file-pdf-o fa-1x" aria-hidden="true"></span><span class="sr-only">(current)</span></a>
                                        </li>
                                        <li>
                                            <a role="button" class="btn btn-default navbar-btn btn-large-text" href="{% url 'companycheckout2' %}" style="color:#1A834B;margin-right:12px;font-size: 1.2em;">Payment <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
                                        </li>
                                        <li>
                                            <a role="button" class="btn btn-default navbar-btn btn-large-text" href="{% url 'companyprogress2' %}" style="
                                                        margin-right: 12px;color:#1A834B;
                                                        font-size: 1.2em;
                                                    ">Progress meter <span class="fa fa-server fa-1x" aria-hidden="true"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12" style="padding-top: 2%;">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h3>
                                                <strong class="">Instructions</strong>
                                            </h3>
                                        </div>
                                        <div class="panel-body" style="padding-bottom: 2%; font-size:1.2em;">
                                            <ul>
                                                <li>Keep your KYC documents ready.</li>
                                                <li>Decide 4 names in the order of priority for your company</li>
                                                <li>Name contains three parts:</li>
                                                <ol type="a">
                                                    <li>1st part shall consist keyword</li>
                                                    <li>2nd part shall consist of activity word which clearly relates to the business</li>
                                                    <li>Private Limited</li>
                                                </ol>
                                                <li>Eg name: SKS Services Pvt Ltd</li>
                                                <li>Upload all necessary documents required on right side.</li>
                                                <li>Make payment for second phase. Get your certificate of Inc </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 " style="padding-top: 2%;padding-bottom: 3%">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h3>
                                                <strong class="">Do's and Don'ts</strong>
                                            </h3>
                                        </div>
                                        <div class="panel-body" style="padding-bottom: 2%; font-size:1.2em;">
                                            <ul>
                                                <li>Make sure docs are properly scanned</li>
                                                <li>Get the Affidavit attested from nearest Notary public</li>
                                                <li>Buy 8, 100 Rs stamp papers</li>
                                                <li>Minimum 2 Shareholders, Minimum 2 Directors</li>
                                                <li>At least 1 of the Directors shall be an Indian Resident</li>
                                                <li>The directors and shareholders can be same person</li>
                                                <li>Minimum Share Capital shall be 100,000(INR One Lac)</li>
                                                <li>DIN (Director Identification Number) for all the Directors</li>
                                                <li>DSC (Digital Signature Certificate) for all the Directors</li>
                                                <li>Please ensure that the address proof is not older than 40 days (In case of Telephone bill, Bank statement, Light bill & Mobile bill)</li>
                                                </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

    {% block contentTable %}
        {% endblock %}
    </div>
{% endblock %}